<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Неоплаченные превышения</title>
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="container">
        <h1>Неоплаченные превышения для {{ staff_info[2] }}, позиция: {{ staff_info[3] }}, дата найма: {{ staff_info[4] }}, отдел №:{{ staff_info[5] }}</h1>

        {% if staff_exceed|length == 0 %}
            <p>У сотрудника нету неоплаченных превышений!</p>
        {% else %}
            <table>
                <thead>
                    <tr>
                        <th>Телефон</th>
                        <th>Сумма превышения</th>
                        <th>Месяц</th>
                        <th>Год</th>
                    </tr>
                </thead>
                <tbody>
                    {% for exceed in staff_exceed %}
                        <tr>
                            <td>{{ exceed[0] }}</td>
                            <td>{{ exceed[1] }}</td>
                            <td>{{ exceed[2] }}</td>
                            <td>{{ exceed[3] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
</body>
</html>
