<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Меню запросов</title>
        <link href="{{ url_for('static', filename='query_menu.css') }}" rel="stylesheet" type="text/css">

</head>
<body>
    <div class="container">
        {% if message %}
        <h3 class="message">
            {{ message }}
        </h3>
        {% endif %}

        <header>
            <h1>Выберите запрос:</h1>
        </header>

        <nav>
            <ul>
                <li><a href="{{ url_for('query_bp.query_staff_phone_handler') }}" class="button">Получить номера телефонов сотрудника</a></li>
                <li><a href="{{ url_for('query_bp.query_phone_exceed_handler') }}" class="button">Получить превышения по номеру телефона</a></li>
                <li><a href="{{ url_for('query_bp.query_staff_exceed_handler') }}" class="button">Получить превышения по номерам сотрудника</a></li>

            </ul>
        </nav>

        <div class="back-button">
            <a href="{{ url_for('main_menu_handler') }}" class="button">В главное меню</a>
        </div>
    </div>
</body>
</html>
