<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Введите телефон</title>
    <link href="{{ url_for('static', filename='query_phone_exceed.css') }}" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="container">
        <h1>Введите номер телефона для поиска неоплаченных превышений:</h1>

        <form action="{{ url_for('query_bp.query_phone_exceed_handler') }}" method="POST">
            <label for="phone_input">Номер телефона:</label>
            <input type="text" name="phone" id="phone_input" placeholder="Введите номер телефона" required>
            <input type="submit" value="Отправить">
        </form>
        <p><a href="{{ url_for('query_bp.query_menu_handler') }}" class="button">В меню запросов</a></p>
        <p><a href="{{ url_for('main_menu_handler') }}" class="button">В главное меню</a></p>
    </div>

</body>
</html>