<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Отчет</title>
    <link href="{{ url_for('static', filename='report_result.css') }}" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="container">
        {% if message %}
        <div class="message">
            <h1>{{ message }}</h1>
        </div>
        {% endif %}
        <h1>Все сотрудники:</h1>
            <table>
                <thead>
                    <tr>
                        {% for schema_elem in schema_list[3:] %}
                        <th>{{schema_elem}}</th>
                        {% endfor %}
                        <th>Редактировать</th>
                        <th>Удалить</th>
                    </tr>
                </thead>
                <tbody>
                    {% for staff_list in staff_list_list %}
                        <tr>
                            {% for staff_elem in staff_list[3:] %}
                            <td>{{ staff_elem }}</td>
                            {% endfor %}
                             <td>
                                <a href="{{ url_for('editor_bp.staff_editor_handler', staff_id=staff_list[0]) }}" class="">Редактировать</a>
                            </td>
                            <td>
                                <a href="{{ url_for('editor_bp.delete_staff_handler', staff_id=staff_list[0]) }}" class="">Удалить</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        <h1>Добавление нового сотрудника</h1>

        <form action="{{ url_for('editor_bp.create_staff_handler') }}" method="POST">
            <div>
                <label for="login">Логин:</label>
                <input type="text" id="login" name="login" required>
            </div>
            <div>
                <label for="password">Пароль:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div>
                <label for="user_group">Группа пользователя:</label>
                <select id="user_group" name="user_group" required>
                    <option value="сотрудник">Сотрудник</option>
                    <option value="руководство">Руководство</option>
                    <option value="админ">Админ</option>
                </select>
            </div>
            <div>
                <label for="surname">Фамилия:</label>
                <input type="text" id="surname" name="surname" required>
            </div>
            <div>
                <label for="address">Адрес:</label>
                <input type="text" id="address" name="address">
            </div>
            <div>
                <label for="birthday">Дата рождения:</label>
                <input type="date" id="birthday" name="birthday">
            </div>
            <div>
                <label for="position">Должность:</label>
                <input type="text" id="position" name="position" required>
            </div>
            <div>
                <label for="hire_date">Дата найма:</label>
                <input type="date" id="hire_date" name="hire_date" required>
            </div>
            <div>
                <label for="department_id">Номер отдела:</label>
                <input type="number" id="department_id" name="department_id" required>
            </div>

            <button type="submit" class="button">Добавить сотрудника</button>
        </form>

        <p><a href="{{ url_for('main_menu_handler') }}" class="button">В главное меню</a></p>
    </div>
</body>
</html>
